# shellcheck shell=bash

# .envrc file for direnv.
# If you use vcsode, please use the `direnv` extension.
# https://marketplace.visualstudio.com/items?itemName=mkhl.direnv

# Use nix-direnv
# https://github.com/nix-community/nix-direnv
# Ensures that flake.nix gets evaluated.
use flake

PATH_add scripts
PATH_add node_modules/.bin

# Load variables from .env
dotenv_if_exists
